* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(https://wallpapercrafter.com/desktop4/1153987-saab-Saab-900-Saab-OG-Saab-900-OG-old-car-photography.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Segoe UI';
    font-weight: 400;
    background-color: #ededed;
}

